*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 15px;
    background-color: #2FBD59;
    color: #ffffff;
    min-height: 100%;
}
.header{
    position: relative;
    width: 100%;
    min-height: 18px;
}
.button{
    margin-right: auto;
}
.logo{
    display: inline-block;
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    right: 0;
}
ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #ffffff;
}
ul li{
    margin-bottom: 10px;
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
}

.wrapper.YouTube{
    background-color: #FF0033;
}
.wrapper.home{
    background-color: #1e1e1e;
}

/* form header */

form {
    text-align: right;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}

form input[type='text'] {
    display: inline-block;
    width: 20px;
}

form input[type='submit'] {
    display: inline-block;
    background: none;
    border: none;
    color: white;
    margin-left: 45px;
}

/* Play list */

ol.list {
    position: relative;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
}

ol li {
    margin-bottom: 7px;
}
ol li a {
    text-decoration: underline;
    font-size: 14px;
}

/* pagination */

.pagination {
    position: relative;
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
}

.pagination .prev {
    position: absolute;
    left: 0;
}

.pagination .next {
    position: absolute;
    right: 0;
}

/* Settings page */

.form-settings{
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 0 15px;
}

.form-settings p{
    text-align: left;
}

.form-settings form{
    position: relative;
    
}

.form-settings p{
    width: 100%;
    display: inline-block;
    margin-bottom: 15px;
}

.form-settings .settings-submit{
    text-align: right;
    width: 100%;
}

.form-settings form input[type="submit"]{
    display: block;
    margin-left: auto;
    border: #ffffff solid 1px;
    padding: 5px 10px;
}
